 *{
  outline: 1px solid red !important;
}

body {
  /* background-color: red; */
  background-image: url("assets/images/bison_sketch_by_sunwolf29-d601yxi.jpg");
}
.Buffalo-Collector{
  text-align: center;
  font-size: 15px;
  width: 90%;
  /* height: 100%; */
  /* padding-left: 5%; */
  padding-right: 5%;
  margin: 0;
}

#Bufftitle{
  font-size: 50px;
  padding: 0px;
  margin: 0px;
}

.Infor-body{
  float: left;
  text-align: center;
  font-family: cursive;
  font-size: 17px;
  width: 60%;
  height: 300px;
  margin:0px;
  padding-right: 0px;
}
.ranNumbgen{
  font-size: 30px;
  /* float:right; */
  width: 150px;
  height: 150px;
  display: flex;
  /* position: absolute; */
  /* clear:both; */
}
.WinLose{
  /* position: fixed; */
  float: right;
  height: 100px;
  width: 100px;
  position: fixed;
}
.Buffalo-Display{
  /* float:right; */
  flex: auto;
}

#Buffalo,#BuffaloNy,#Bullies,#Buffalo4{
  padding-left: 30px;
  position: relative;
  /* float:left; */
}
.yourScore{
  font-size: 20px;
  width: 20%;
  height: 20%;
  margin: 0px;
  position: absolute;
  display: flex;
  text-align: justify;
}
